<app-content-container>
    <h1 class="font-csp2 text-center text-cspBlue mb-5">Instalaciones</h1>
    <p>
        En nuestra sede del Club Social Progreso, puedes encontrar un centro multideporte con diversos espacios para
        practicar una amplia variedad de actividades y deportes. Contamos con una cancha cerrada de parquet donde se
        practican handball, volleyball y patinaje artístico, una cancha de bochas, una sala de musculación y una sala
        dedicada a las clases
        de zumba, fitness y yoga. Además, disponemos de una cantina y un comedor para mayor comodidad de nuestros socios
        y visitantes.
    </p>
    <p>
        El Club Social Progreso también tiene un convenio con el Polideportivo de Progreso, una colaboración que nos
        permite ampliar la oferta de actividades deportivas para nuestros socios. En estas instalaciones, se realizan
        actividades como handball y patinaje, entre otras. Este acuerdo nos permite aprovechar al máximo las
        instalaciones y recursos disponibles en el polideportivo, ofreciendo a nuestros socios una variedad de opciones
        deportivas y recreativas en un ambiente seguro y profesional.
    </p>
    <p class="mb-5">
        Con estas instalaciones y convenios, el Club Social Progreso sigue consolidándose como un referente en la
        promoción del deporte y la vida saludable en Canelones, brindando a la comunidad un espacio donde desarrollarse
        y disfrutar de diversas actividades deportivas y sociales.
    </p>
    <div class="img-container mb-5 shadow">
        <img src="../../../../assets/images/club.jpg" alt="">
        <div class="shadowContainer d-flex justify-content-start align-items-end ps-2 pb-2">
            <span class="">Fachada exterior</span>
        </div>
    </div>
    <div class="img-container mb-5 shadow">
        <img src="../../../../assets/images/insideClub.jpg" alt="">
        <div class="shadowContainer d-flex justify-content-start align-items-end ps-2 pb-2">
            <span class="">Cancha de parquet</span>
        </div>
    </div>
    <div class="img-container shadow">
        <img src="../../../../assets/images/polideportivo.jpg" alt="">
        <div class="shadowContainer d-flex justify-content-start align-items-end ps-2 pb-2">
            <span class="">Polideportivo Progreso</span>
        </div>
    </div>
</app-content-container>

<style>
    .img-container {
        width: 100%;
        height: 400px;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .shadowContainer {
        font-size: smaller;
        position: absolute;
        bottom: 0;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%);
    }
</style>