<app-content-container>
    <h1 class="font-csp2 text-center text-cspBlue mb-5">Socios</h1>
    <h4 class="vertical-line mb-4">Preguntas Frecuentes</h4>
    <h6 class="vertical-line mb-4">¿Cómo me hago socio?</h6>
    <p>
        Hay diversas formas de hacerte socio. Puedes comunicarte al 091 514 294 o escribir a
        c.s.progreso2019&#64;gmail.com para registrarte como socio. Los datos que necesitamos
        son
        nombres, apellidos, cédula, fecha de nacimiento, teléfono y dirección. De igual manera, puedes acercarte a la
        secretaría del club y abonar el pago de forma presencial.
    </p>
    <p class="mb-4">
        Luego de ese paso podés abonar en cualquier red de cobranza de forma mensual o anual.
        Si tenés alguna duda no dudes en comunicarte con el club.
        Si pagás de forma anual se te descuentan dos meses.
    </p>
    <h6 class="vertical-line mb-4">¿Qué costo tiene la cuota social?</h6>
    <h6>Cuota mensual</h6>
    <p>
        Mayores (12 años o más): $400
        Menores de 12 años: $100
    </p>
    <h6>Cuota anual</h6>
    <p class="mb-4">
        Mayores (12 años o más): $4000
        Menores de 12 años: $1000
    </p>
    <h6 class="vertical-line mb-4">¿Qué beneficios tengo por ser socio?</h6>
    <p class="mb-4">
        Podrás tener acceso a todas las instalaciones del club y participar en las actividades y deportes ofrecidos.
    </p>
    <h6 class="vertical-line mb-4">¿Cómo me doy de baja?</h6>
    <p>
        Enviando un correo electrónico, con los datos de socio. Es importante saber que sólo te tomará como válido el
        correo personal del socio, desde donde se envía la solicitud. También puede acercarse a la secretaría del club.
    </p>
</app-content-container>

<style>
    .vertical-line {
        position: relative;
        padding-left: 10px;
    }

    .vertical-line::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: var(--cspBlue);
    }
</style>