:host {
    width: 49%;
    height: 325px;
    cursor: pointer;
}

#imgContainer {
    width: 45%;
    min-height: 100%;
    display: inline-block;
    overflow: hidden;
}

#container:hover img {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .6s ease-in-out;
}

#descriptionContainer {
    width: 55%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

h4 {
    font-size: xx-large;
}

#subInfoContainer {
    font-size: smaller;
}

@media (max-width: 767px) {
    :host{
        width: 100%;
        margin-bottom: calc(1rem * 1.5);
    }
}