<app-content-container>
  <h1 class="font-csp2 text-center text-cspBlue mb-5">Volleyball</h1>
  <p>
    Es un deporte en el cual se enfrentan dos equipos de 7 integrantes cada uno y sus respectivos suplentes, en una
    cancha con dimensiones de 40m de largo y 20m de ancho la cual puede ser al aire libre o estar techada.
    El objetivo de este deporte cuenta en realizar la mayor cantidad de goles en el arco contrario como también
    impedir que el contrario lo realice en el de uno mismo.
  </p>

  <p>
    Es un deporte que abarca variedad de reglas, lo cual lo hacen especial y único en su aprendizaje, los tiempos de
    cada juego varían según las edades y este será controlado por dos jueces de campo y un juez/a de mesa.
    Cuenta con grandes destrezas motrices tanto individuales como colectivas para su realización; lo cual favorece
    mucho
    al desarrollo motriz y cognitivo de cada persona que lo práctica.
  </p>

  <p>
    Culturalmente es un Deporte practicado a nivel País en diferentes ligas, como también en las instancias
    escolares y
    liceales en sus respectivas clases y competencias anuales estipuladas.
  </p>

  <p class="mb-5">
    El Club Social Progreso con sus docentes a cargo de la disciplina plantea la formación de las personas en este
    deporte, los diferentes aprendizajes y la diversión/recreación durante sus prácticas. Respetando los procesos y
    las
    diferentes categorías actualmente se compite en dicha disciplina en encuentros amistosos de formación como
    también
    en Ligas a nivel País.
  </p>
  <app-carousel [images]="['../../../../../assets/images/sports/volleyball/femenino.jpg',
      '../../../../../assets/images/sports/volleyball/mixto.jpg',
      '../../../../../assets/images/sports/volleyball/masculino.jpg']" />
</app-content-container>