<div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <div id="container" class="w-100 d-flex shadow">
        <div id="img-container" class="w-100">
            <img src="../../../../assets/images/clubViejo2.jpg" alt="">
        </div>
        <div id="sombra" class="d-flex flex-column justify-content-end align-items-center pb-5">
            <h1 class="m-0 font-csp">Historia</h1>
        </div>
    </div>
    <app-content-container>
        <p>
            El Club Social Progreso fue fundado el 4 de agosto de 1942 por un grupo de vecinos, para fomentar el
            espíritu social en sus diversas manifestaciones y estimular todo esfuerzo de superación. A lo largo de su
            historia fue reconocido por innumerables actividades tanto sociales, como deportivas. En lo social se
            destacan los multitudinarios bailes en los que solían presentarse prestigiosos artistas nacionales e
            internacionales, hecho que llevó a que se le conociera como “El coloso de Canelones”. En lo deportivo, supo
            alcanzar importantes logros. Sus actividades más destacadas fueron voleibol, handball y bochas; disciplinas
            que continúan vigentes hoy en día.
            El Club Social Progreso ha sido y es un agente socializador y cuna de los deportistas más destacados de
            nuestra ciudad. Sigamos construyendo su historia. Bienvenidos a la familia del Club.
        </p>
        <p>
            El Club Social Progreso fue fundado el 4 de agosto de 1942 por un grupo de vecinos, para fomentar el
            espíritu social en sus diversas manifestaciones y estimular todo esfuerzo de superación. A lo largo de su
            historia fue reconocido por innumerables actividades tanto sociales, como deportivas. En lo social se
            destacan los multitudinarios bailes en los que solían presentarse prestigiosos artistas nacionales e
            internacionales, hecho que llevó a que se le conociera como “El coloso de Canelones”. En lo deportivo, supo
            alcanzar importantes logros. Sus actividades más destacadas fueron voleibol, handball y bochas; disciplinas
            que continúan vigentes hoy en día.
            El Club Social Progreso ha sido y es un agente socializador y cuna de los deportistas más destacados de
            nuestra ciudad. Sigamos construyendo su historia. Bienvenidos a la familia del Club.
        </p>
        <p>
            El Club Social Progreso fue fundado el 4 de agosto de 1942 por un grupo de vecinos, para fomentar el
            espíritu social en sus diversas manifestaciones y estimular todo esfuerzo de superación. A lo largo de su
            historia fue reconocido por innumerables actividades tanto sociales, como deportivas. En lo social se
            destacan los multitudinarios bailes en los que solían presentarse prestigiosos artistas nacionales e
            internacionales, hecho que llevó a que se le conociera como “El coloso de Canelones”. En lo deportivo, supo
            alcanzar importantes logros. Sus actividades más destacadas fueron voleibol, handball y bochas; disciplinas
            que continúan vigentes hoy en día.
            El Club Social Progreso ha sido y es un agente socializador y cuna de los deportistas más destacados de
            nuestra ciudad. Sigamos construyendo su historia. Bienvenidos a la familia del Club.
        </p>
    </app-content-container>
</div>

<style>
    #container {
        height: calc(100vh - 127.61px);
        position: relative;
    }

    #img-container {
        width: 100%;
        height: 100%;
    }

    #sombra {
        position: absolute;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 100%);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        font-size: 80px;
    }
</style>